* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
    width: 100%;
    max-width: 350px;
}

.card h1 {
    margin: 0 0 25px;
    font-size: 22px;
    color: #333;
    text-align: center;
}

.inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputBox input {
    width: 100%;
    padding: 14px 40px 14px 10px; /* espacio extra para el botón */
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.inputBox input.error {
    border-color: red;
}
.inputBox input.okay {
    border-color: green;
}

.inputBox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    color: #888;
    transition: 0.2s ease all;
    pointer-events: none;
}

.inputBox input:focus + label,
.inputBox input:not(:placeholder-shown) + label {
    top: -0px;
    font-size: 12px;
    color: #333;
}

.inputBox input.error:focus + label,
.inputBox input.error:not(:placeholder-shown) + label {
    color: red;
}
.inputBox input.okay:focus + label,
.inputBox input.okay:not(:placeholder-shown) + label {
    color: green;
}

.toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #007BFF;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    user-select: none; /* evita selección accidental */
    font-family: Courier, monospace;
}

.toggle-btn:focus {
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.submit-msg {
    font-size: 14px;
    height: 18px;
    visibility: hidden;
    margin-top: -15px;
    margin-bottom: 15px;
}

.submit-msg.active {
    visibility: visible;
}
